<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
<div class="row">
  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <h1 class="text-center">Notification</h1>

      <div class="ml-5">
        <div class="form-group">
          <p class="form-check-input mb-4"> Email </p><br>
          <%= f.check_box :message_notifications, class: "form-check-input mt-2 mr-3" %>
          <h5 class="ml-3">Message Notifications</h5>
        </div>

        <div class="form-group">
          <%= f.check_box :track_notifications, class: "form-check-input mt-2 mr-3" %>
          <h5 class="ml-3">Post you're tracking</h5>
        </div>

        <div class="form-group">
          <%= f.check_box :daily_notifications, class: "form-check-input mt-2 mr-3" %>
          <h5 class="ml-3">
            <div class="row">
              <div class="col-md-4">Daily @ </div>
              <div class="col-md-4"><%= text_field_tag 'daily_notification_time', resource&.daily_notification_time.present? ? resource&.daily_notification_time&.strftime('%l:%M %P') : nil, class: 'timepicker', style: 'width: 140%' %></div>
            </div>
          </h5>
        </div>

        <div class="form-group">
          <%= f.check_box :all_notifications, class: "form-check-input mt-2 mr-3" %>
          <h5 class="ml-3">All Notifications</h5>
        </div>
      </div>

      <h1 class="text-center">Account</h1>

      <div class="form-group">
        <%= f.text_field :name, autofocus: false, class: 'form-control', placeholder: "Full Name" %>
      </div>

      <div class="form-group">
        <%= f.email_field :email, class: 'form-control', placeholder: 'Email Address' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="alert alert-warning">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: 'Current Password'  %>
        <p class="form-text text-muted"><small>We need your current password to confirm your changes</small></p>
      </div>

<!--      <div class="form-group">-->
        <%#= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password'  %>
<!--        <p class="form-text text-muted"><small>Leave password blank if you don't want to change it</small></p>-->
<!--      </div>-->

<!--      <div class="form-group">-->
        <%#= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirm Password'  %>
<!--      </div>-->
      <div class="form-group">
        <%= f.submit "Save Changes", class: 'btn btn-lg btn-block btn-primary' %>
      </div>
    <% end %>
    <hr>
    <%= link_to 'Provide Feedback', new_feedback_path, class: 'btn btn-lg btn-block btn-primary mb-2' %>
    <%= link_to registration_path(resource_name), data: { confirm: "Are you sure? You cannot undo this." }, method: :delete do %>
      <p class="text-danger text-center">Deactivate my account</p>
    <% end %>
  </div>
</div>
<script>
    $('.timepicker').timepicker({
        timeFormat: 'h:mm p',
        interval: 10,
        startTime: '<%= resource&.daily_notification_time.present? ? resource&.daily_notification_time&.strftime('%l:%M %P') : '10:00' %>',
        dynamic: false,
        dropdown: true,
        scrollbar: true
    });
</script>
