<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
<div class="row">
  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <h1 class="text-center">Notification</h1>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">None</th>
            <th scope="col">Daily</th>
            <th scope="col">Instant</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="pl-4 text-center"><%= f.radio_button :message_notifications, Notification::NOTIFICATION_TYPE_NONE, class: "form-check-input", id: "messageNotificationsNone" %></td>
            <td class="pl-4 text-center"><%= f.radio_button :message_notifications, Notification::NOTIFICATION_TYPE_DAILY, class: "form-check-input", id: "messageNotificationsDaily" %></td>
            <td class="pl-4 text-center"><%= f.radio_button :message_notifications, Notification::NOTIFICATION_TYPE_INSTANT, class: "form-check-input", id: "messageNotificationsInstant" %></td>
            <td>Message Notifications</td>
          </tr>
          <tr>
            <td class="pl-4 text-center"><%= f.radio_button :track_notifications, Notification::NOTIFICATION_TYPE_NONE, class: "form-check-input", id: "trackNotificationsNone" %></td>
            <td class="pl-4 text-center"><%= f.radio_button :track_notifications, Notification::NOTIFICATION_TYPE_DAILY, class: "form-check-input", id: "trackNotificationsDaily" %></td>
            <td class="pl-4 text-center"><%= f.radio_button :track_notifications, Notification::NOTIFICATION_TYPE_INSTANT, class: "form-check-input", id: "trackNotificationsInstant" %></td>
            <td>Post you're tracking</td>
          </tr>
        </tbody>
      </table>

      <div class="form-group" id="dailyNotificationTimeField">
        <h5 class="ml-3">
          <div class="row">
            <div class="col-md-4">Daily @</div>
            <div class="col-md-4">
              <%= text_field_tag 'daily_notification_time', resource&.daily_notification_time.present? ? resource&.daily_notification_time&.strftime('%l:%M %P') : nil, class: 'timepicker', style: 'width: 140%' %>
            </div>
          </div>
        </h5>
      </div>

      <h1 class="text-center">Account</h1>

      <div class="form-group">
        <%= f.text_field :name, autofocus: false, class: 'form-control', placeholder: "Full Name" %>
      </div>

      <div class="form-group">
        <%= f.email_field :email, class: 'form-control', placeholder: 'Email Address' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="alert alert-warning">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: 'Current Password'  %>
        <p class="form-text text-muted"><small>We need your current password to confirm your changes</small></p>
      </div>

<!--      <div class="form-group">-->
        <%#= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password'  %>
<!--        <p class="form-text text-muted"><small>Leave password blank if you don't want to change it</small></p>-->
<!--      </div>-->

<!--      <div class="form-group">-->
        <%#= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirm Password'  %>
<!--      </div>-->
      <div class="form-group">
        <%= f.submit "Save Changes", class: 'btn btn-lg btn-block btn-primary' %>
      </div>
    <% end %>
    <hr>
    <%= link_to 'Provide Feedback', new_feedback_path, class: 'btn btn-lg btn-block btn-primary mb-2' %>
    <%= link_to registration_path(resource_name), data: { confirm: "Are you sure? You cannot undo this." }, method: :delete do %>
      <p class="text-danger text-center">Deactivate my account</p>
    <% end %>
  </div>
</div>
<script>
    $('.timepicker').timepicker({
        timeFormat: 'h:mm p',
        interval: 10,
        startTime: '<%= resource&.daily_notification_time.present? ? resource&.daily_notification_time&.strftime('%l:%M %P') : '10:00' %>',
        dynamic: false,
        dropdown: true,
        scrollbar: true
    });
</script>
<style>
  label{
    display: block;
    margin-bottom: 10px;
  }

  input[type=radio] {
    appearance: none;
    background-color: #fff;
    width: 15px;
    height: 15px;
    border: 2px solid #ccc;
    border-radius: 2px;
    display: inline-grid;
    place-content: center;
  }

  input[type=radio]::before {
    content: "";
    width: 10px;
    height: 10px;
    transform: scale(0);
    transform-origin: bottom left;
    background-color: #fff;
    clip-path: polygon(13% 50%, 34% 66%, 81% 2%, 100% 18%, 39% 100%, 0 71%);
  }

  input[type=radio]:checked::before {
    transform: scale(1);
  }
  input[type=radio]:checked{
    background-color:   #0075FF;
    border: 2px solid #0075FF;
  }
</style>
<script>
    // Get references to the radio buttons and the "Daily @" field for message notifications
    const messageNoneRadio = document.querySelector('#messageNotificationsNone');
    const messageDailyRadio = document.querySelector('#messageNotificationsDaily');
    const messageInstantRadio = document.querySelector('#messageNotificationsInstant');
    const messageNotificationTimeField = document.getElementById('dailyNotificationTimeField');

    // Get references to the radio buttons and the "Daily @" field for track notifications
    const trackNoneRadio = document.querySelector('#trackNotificationsNone');
    const trackDailyRadio = document.querySelector('#trackNotificationsDaily');
    const trackInstantRadio = document.querySelector('#trackNotificationsInstant');

    // Function to show or hide the "Daily @" field for message notifications
    function toggleMessageNotificationTimeField() {
        if ((messageDailyRadio.checked && !messageInstantRadio.checked) || (trackDailyRadio.checked && !trackInstantRadio.checked)) {
            messageNotificationTimeField.style.display = 'block';
        } else {
            messageNotificationTimeField.style.display = 'none';
        }
    }

    // Initial state on page load
    toggleMessageNotificationTimeField();

    // Add event listeners to the message notifications radio buttons
    messageNoneRadio.addEventListener('change', toggleMessageNotificationTimeField);
    messageDailyRadio.addEventListener('change', toggleMessageNotificationTimeField);
    messageInstantRadio.addEventListener('change', toggleMessageNotificationTimeField);

    // Add event listeners to the track notifications radio buttons
    trackNoneRadio.addEventListener('change', toggleMessageNotificationTimeField);
    trackDailyRadio.addEventListener('change', toggleMessageNotificationTimeField);
    trackInstantRadio.addEventListener('change', toggleMessageNotificationTimeField);
</script>
