<% replies.each do |reply| %>
  <div class="border-top">
    <div class="media ml-5">
      <div class="media-body"><h5 class="media-heading"><%= reply.user.name %></h5>
        <div id="reply-form-<%= reply.id %>"></div>
        <p id="reply-body-<%= reply.id %>"><%= reply.body %></p>
        <ul class="ist-unstyled list-inline media-detail pull-left">
          <li class="mt-2">
            <i class="fa fa-calendar"></i> <%= time_ago_in_words(reply.created_at) %> ago
          </li>
          <% if current_user %>
            <li class="mt-2">
              <% if reply.user_id == current_user.id %>
                <% if reply.commentable_type == "Post" %>
                  <% unless @post.nil? %>
                    <%= link_to 'Edit', edit_post_comment_path(@post, reply.id), remote: true, class: 'mr-1' %>
                    <%= link_to 'Delete', post_comment_remove_comment_path(@post.id, reply.id), method: :delete %>
                  <% end %>
                <% end %>
              <% else %>
                <% if reply.flags.pluck(:user_id).include?(current_user.id) %>
                  <%= link_to flag_path(id: post.id, flagable_id: reply.id, flagable_type: 'Comment'), class: 'btn btn-primary', title: 'Un-Flag this comment', remote: true, method: :delete do %>
                    <i class="fa fa-flag" aria-hidden="true"></i>
                  <% end %>
                <% else %>
                  <%= link_to reason_modal_flags_path(flagable_id: reply.id, flagable_type: 'Comment'), title: 'Flag this comment', class: 'btn btn-secondary', remote: true do %>
                    <i class="fa fa-flag-checkered" aria-hidden="true"></i>
                  <% end %>
                <% end %>
                <span><%= reply.flags.count %></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
