<div class="card reply_form_<%= comment.id %>">
  <div class="card-body">
    <% if params[:objective_id].present? %>
      <%= form_with(model: [@objective, comment], local: false) do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :commentable_id, value: @objective.id %>
        <%= f.hidden_field :commentable_type, value: 'Objective' %>
        <%= f.hidden_field :parent_id %>
        <div class="form-group">
          <%= f.label 'Reply' %>
          <%= f.text_area :body, class: 'form-control reply_body' %>
        </div>
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
        <button type="button" name="button" class='btn btn-secondary' onclick="this.closest('.card').remove();">Cancel</button>
      <% end %>
    <% elsif params[:related_content_id].present? %>
      <%= form_with(model: [@related_content, comment], local: false) do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :commentable_id, value: @related_content.id %>
        <%= f.hidden_field :commentable_type, value: 'RelatedContent' %>
        <%= f.hidden_field :parent_id %>
        <div class="form-group">
          <%= f.label 'Reply' %>
          <%= f.text_area :body, class: 'form-control reply_body' %>
        </div>
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
        <button type="button" name="button" class='btn btn-secondary' onclick="this.closest('.card').remove();">Cancel</button>
      <% end %>
    <% else %>
      <%= form_with(model: [post, comment], local: false) do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :commentable_id, value: post.id %>
        <%= f.hidden_field :commentable_type, value: 'Post' %>
        <%= f.hidden_field :parent_id %>
        <div class="form-group">
          <%= f.label 'Reply' %>
          <%= f.text_area :body, class: 'form-control reply_body' %>
        </div>
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
        <button type="button" name="button" class='btn btn-secondary' onclick="this.closest('.card').remove();">Cancel</button>
      <% end %>
    <% end %>
  </div>
</div>
