<footer class="footer text-dark navbar-custom">
  <div class="container">
    <span>© <%= Date.today.year %> Needpedia</span>
    <ul class="list-inline mb-0 float-right">
      <li class="list-inline-item mr-3"><%= link_to "Contact Us", contact_us_path, class: 'text-dark' %></li>
      <li class="list-inline-item mr-3"><%= link_to "FAQs", faq_path, class: 'text-dark' %></li>
      <li class="list-inline-item mr-3"><%= link_to "About Us", about_us_path, class: 'text-dark' %></li>
      <li class="list-inline-item mr-3"><%= link_to "Terms of Service", terms_path, class: 'text-dark' %></li>
      <li class="list-inline-item mr-3"><%= link_to "Privacy", privacy_path, class: 'text-dark' %></li>
      <li class="list-inline-item mr-3"><%= link_to "Careers", careers_path, class: 'text-dark' %></li>
    </ul>
  </div>
</footer>
<div id="modal-window"></div>