<footer class="footer text-dark navbar-custom">
  <div class="container">
    <span>© <%= Date.today.year %> Needpedia</span>
    <ul class="list-inline mb-0 float-right">
      <li class="list-inline-item mr-3"><%= link_to "Contact Us", contact_us_path, class: 'text-dark' %></li>
      <li class="list-inline-item mr-3"><%= link_to "FAQs", faq_path, class: 'text-dark' %></li>
      <li class="list-inline-item mr-3"><%= link_to "About Us", about_us_path, class: 'text-dark' %></li>
      <li class="list-inline-item mr-3"><%= link_to "Terms of Service", terms_path, class: 'text-dark' %></li>
      <li class="list-inline-item mr-3"><%= link_to "Privacy", privacy_path, class: 'text-dark' %></li>
    </ul>
  </div>
</footer>
<% if current_user %>
  <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
  <script src="https://mediafiles.botpress.cloud/<%= ENV['BOTPRESS_CLIENT_ID'] %>/webchat/config.js" defer></script>
<% end %>

<div id="modal-window"></div>