<% if user_masquerade? %>
  <div class="alert alert-warning text-center">
    You're logged in as <b><%= current_user.name %> (<%= current_user.email %>)</b>
    <%= link_to back_masquerade_path(current_user) do %><%= icon("fas", "times") %> Logout <% end %>
  </div>
<% end %>

<div class="d-flex navbar navbar-custom sticky-top" id="navbar-container">
  <ul class="list-inline mx-auto justify-content-center">
    <li>
      <%= link_to root_path do %>
        <span><i class="fa fa-home" style="font-size: x-large" aria-hidden="true"></i></span>
      <% end %>
    </li>
    <% if user_signed_in? %>
      <li>
        <%= link_to "#", id: "navbar-dropdown-search", class: "dropdown-toggle", data: {target: "nav-search-dropdown", toggle: "dropdown"}, aria: {haspopup: true, expanded: false} do %>
          <i class="fa fa-neuter" style="font-size: x-large; aria-hidden:true" title="Search"></i>
        <% end %>
        <div id="nav-search-dropdown" class="dropdown-menu px-4 py-3" aria-labelledby="navbar-dropdown">
          <%= search_form_for @q, url: search_result_posts_path, id: "drop-down-search" do |f| %>
            <div class="row no-gutters align-items-center">
              <div class="col">
                <%= f.text_field :title_cont, class: 'form-control form-control-sm', placeholder: 'Search' %>
              </div>
              <div class="col-auto">
                <button class="btn btn-sm btn-secondary" type="submit"><i class="fa fa-search"></i></button>
              </div>
            </div>
          <% end %>
        </div>
      </li>
      <li>
        <%= link_to feed_path do %>
          <span><i class="fa fa-rss" style="font-size: x-large" aria-hidden="true"></i></span>
        <% end %>
      </li>


      <li class="nav-item dropdown" id="user-chat-icon" data-user-id="<%= current_user&.id %>">
        <a class="nav-link <%= unread_messages(current_user) %>" href="#" id="<%= set_id_for_icon(current_user, params) %>" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-comment-dots" style="font-size: x-large; aria-hidden:true"></i>
        </a>
        <div class="dropdown-menu chat-dropdown" aria-labelledby="navbarDropdown">
          <%= render 'conversations/chat_menu_section', conversations: @conversations %>
        </div>
      </li>

      <li class="map-icon">
        <%= link_to geo_maxing_posts_posts_path do %>
          <%= image_tag('map-small.png', height: "60%", width: "60%" ) %>
        <% end %>
      </li>

      <li>
        <%= link_to time_bank_path do %>
          <i class="fa fa-university" title="Time Bank" aria-hidden="true" style="font-size: x-large"></i>
        <% end %>
      </li>
      <li>
        <%= link_to notifications_path, class: "#{unread_notification(current_user)}" do %>
          <span><i class="far fa-bell" aria-hidden="true" style="font-size: x-large"></i></span>
        <% end %>
      </li>
      <li>
        <%= link_to "#", id: "navbar-dropdown", class: "dropdown-toggle", data: {target: "nav-account-dropdown", toggle: "dropdown"}, aria: {haspopup: true, expanded: false} do %>
          <i class="fa fa-user" style="font-size: x-large; aria-hidden:true"></i>
          <% if current_user.admin? %>
            <span class="logged-in">●</span>
          <% end  %>
        <% end %>
        <div id="nav-account-dropdown" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-dropdown">
          <% if current_user.master_admin? %>
            <%= link_to "Master Admin Area", master_admin_root_path, class: "dropdown-item" %>
          <% end %>
          <% if current_user.admin? %>
            <%= link_to "Admin Area", admin_root_path, class: "dropdown-item" %>
          <% end %>
          <%= link_to current_user ? current_user&.name : 'Profile', wall_path, class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
    <% else %>
      <li class="nav-item"><%= link_to "Sign Up", new_user_registration_path, class: 'mt-2' %></li>
      <li class="nav-item"><%= link_to "Login", new_user_session_path, class: 'mt-2' %></li>
    <% end %>
  </ul>
</div>
<script>
  $('#user').select2({
      placeholder: 'Search',
      quietMillis: 200,
      multiple: true,
      minimumInputLength: 2
  })
</script>
