<!-- Sidebar Toggle Button (Visible on Small Screens) -->
<div class="d-flex justify-content-end">
  <button class="btn btn-dark d-md-none mb-2 mt-2" type="button" data-toggle="collapse" data-target="#sidebarCollapse">
    <i class="bi bi-list"></i> Menu
  </button>
</div>


<!-- Sidebar -->
<div id="sidebarCollapse" class="collapse d-md-block bg-light h-100 shadow-sm p-3">
  <div class="d-flex flex-column h-100">
    <!-- Profile Section -->
    <div class="text-center mb-4">
      <div class="position-relative d-inline-block">
        <!-- Profile Image -->
        <%= render 'shared/profile_image', user: @user %>

        <!-- Change Profile Image Button (Visible to Current User) -->
        <% if current_user == @user %>
          <%= link_to profile_image_path, remote: true, class: 'position-absolute bottom-0 end-0 btn btn-sm btn-primary rounded-circle' do %>
            <i class="bi bi-camera"></i>
          <% end %>
        <% end %>
      </div>

      <!-- User Name and Badges -->
      <div class="mb-3">
        <h4 class="font-weight-bold">
          <%= @user.name %>
        </h4>
      </div>
    </div>

    <!-- Action Buttons -->
    <div class="d-grid gap-2 mb-4">
      <%= render 'shared/connection_buttons', user: @user, current_user: current_user %>
    </div>

    <!-- Navigation Menu -->
    <div class="flex-grow-1 overflow-auto">
      <div class="list-group list-group-flush">
        <!-- Friends Section (Collapsible) -->
        <div class="list-group-item">
          <a href="#friendsCollapse" class="d-flex justify-content-between align-items-center " data-toggle="collapse" aria-expanded="false">
            <span class="d-flex"><i class="bi bi-people mr-2"></i>Friends</span>
            <i class="bi bi-chevron-down"></i>
          </a>
          <div class="collapse mt-2" id="friendsCollapse">
            <%= link_to friends_path(uuid: @uuid), class: 'list-group-item list-group-item-action' do %>
              <i class="bi bi-person-check mr-2"></i>All Friends <span class="badge badge-primary float-right d-flex"><%= @friends_count&.total_count %></span>
            <% end %>
            <% if current_user&.uuid == @user&.uuid %>
              <%= link_to friend_request_path(uuid: @uuid), class: 'list-group-item list-group-item-action' do %>
                <i class="bi bi-person-plus mr-2"></i>Requests <span class="badge badge-primary float-right d-flex"><%= @connection_requests_count&.count %></span>
              <% end %>
            <% end %>
          </div>
        </div>

        <!-- Navigation Items -->
        <%= render 'shared/navigation_items', user: @user, current_user: current_user, uuid: @uuid %>
      </div>
    </div>
  </div>
</div>
