<!--<style>-->
<!--  #content {-->
<!--    padding: 0 0 0 1.5rem !important;-->
<!--  }-->
<!--</style>-->
<nav id="sidebar">
  <div class="p-4 pt-5">
    <% if @user.profile_image.attached? %>
      <%= image_tag(@user.profile_image.variant(resize: "250x250"), class: 'img logo rounded-circle mb-2', alt: "Avatar") %>
    <% else %>
      <%= image_tag('img_avatar.png', class: 'img logo rounded-circle mb-2', alt: "Avatar") %>
  <% end %>
    <h4 class="text-center"><%= @user.name %></h4>
    <ul class="list-unstyled components mb-5">
      <li>
        <%= link_to 'Feed', wall_path(uuid: @uuid) %>
      </li>
      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Friends</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <%= link_to "Friends (#{@friends_count.count})", friends_path(uuid: @uuid) %>
          </li>
          <li>
            <%= link_to "Request (#{@connection_requests_count.count})", friend_request_path(uuid: @uuid) %>
          </li>
        </ul>
      </li>
      <li>
        <%= link_to 'Pictures', pictures_path(uuid: @uuid) %>
      </li>
      <li>
        <%= link_to 'About', about_path(uuid: @uuid) %>
      </li>

    </ul>
  </div>
</nav>