<% if current_user.nil? && @messages_for_guests.present? %>
  <%= render 'home/admin_notification_list', notifications: @messages_for_guests, color: 'primary' %>
<% end %>
<% if current_user && current_user.last_login_at.blank? && @messages_for_new_comers.present? %>
  <%= render 'home/admin_notification_list', notifications: @messages_for_new_comers, color: 'success' %>
<% end %>

<% if @messages_for_all.present? %>
  <%= render 'home/admin_notification_list', notifications: @messages_for_all, color: 'dark' %>
<% end %>
<%= render 'search'  %>
<div class="container mb-5">
  <div class="row mt-5">
    <div class="col-md-12 text-center">
      <h1><b>NEEDPEDIA</b></h1>
      <h3>The Wiki for all solutions, to all problems</h3>

      <div class="container pt-3">
        <iframe width="70%" height="400px" src="<%= @home_video_link %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div class="container pt-5 text-center">
        <div class="customer-feedback" >
          <h3 class="title-normal mb-5 text-dark">What makes Needpedia different?</h3>
          <div style="">
            <p class="customer-quote">While people already use the internet to find solutions, search engine algorithms tend to care more about SEO scores and traffic than the quality of the answers themselves. -Needpedia provides a space where you can see all your options side by side, and even see what scientists and other experts had to say about them.  <br/>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-12 pt-2">
        <div class="container text-center">
          <h3 class="title-normal mb-3 text-dark">The Token System</h3>
          <div class="row">
            <div class="col-md-6">
              <%= image_tag("tokens2.png", {:style => "width:300px;"}) %>
            </div>
            <div class="col-md-6 text-center">
              <p class="customer-quote mt-5">We’ve innovated upon the hypertext system used by Wikipedia and others to make it possible for everyone to drop debates and notes directly into pages, after any word; all while being neatly embedded into little icons called “tokens”. The token system lets citizens and experts publicly dismantle false information, myths, and fallacies. Debate tokens even let you rate people’s arguments individually, so that everyone can see which concerns actually matter most to people. Ultimately our goal is to create the world’s greatest problem solving engine. <br/>
              </p>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-12 pt-3 pb-5">
        <div class="container text-center">
          <h3 class="title-normal mb-3 text-dark">The Layer System</h3>
          <div class="row">
            <div class="col-md-6">
              <p class="customer-quote pt-5">
                The layer system lets users create new layers to any page.

                Inspired by the idea of helping experts collaborate effortlessly with those outside their field, it was soon realized however that it could double as a powerful tool for promoting cultural and scientific literacy.

                The Layer system enables everyone to learn subjects by reading the actual conversations specialists are having about solving problems in the real world.
              </p>
            </div>
            <div class="col-md-6">
              <%= image_tag("layers2.png", {:style => "width:300px;"}) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
