<% if current_user.nil? && @messages_for_guests.present? %>
  <%= render 'home/admin_notification_list', notifications: @messages_for_guests, color: 'light' %>
<% end %>
<% if current_user && current_user.last_login_at.blank? && @messages_for_new_comers.present? %>
  <%= render 'home/admin_notification_list', notifications: @messages_for_new_comers, color: 'light' %>
<% end %>

<% if @messages_for_all.present? %>
  <%= render 'home/admin_notification_list', notifications: @messages_for_all, color: 'light' %>
<% end %>
<%= render 'search'  %>
<div class="container mb-5">
  <div class="row mt-5">
    <div class="col-md-12 text-center">
      <h1><b>NEEDPEDIA</b></h1>
      <h3>The Wiki for all solutions, to all problems</h3>

      <div class="container pt-3">
        <iframe width="70%" height="400px" src="<%= @home_video_link %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div class="container pt-5 text-center">
        <div class="customer-feedback" >
          <h3 class="title-normal mb-5 text-dark">What makes Needpedia different?</h3>
          <div style="">
            <p class="customer-quote">While people already use the internet to find solutions, search engine algorithms tend to care more about SEO scores and traffic than the quality of the answers themselves. -Needpedia provides a space where you can see all your options side by side, and even see what scientists and other experts had to say about them.  <br/>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 pt-3 pb-5">
      <div class="container">
        <h3 class="title-normal mb-3 text-dark text-center">How to Section</h3>
        <div class="ui-block shadow-lg rounded">
          <div class="ui-block-content">
            <div class="row">
              <div class="col-sm-12">
                <div id="accordion">
                  <% @how_tos.each do |how_to| %>
                    <div class="card">
                      <div class="card-header" id="heading_<%= how_to.id %>">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_<%= how_to.id %>" aria-expanded="false" aria-controls="collapse_<%= how_to.id %>">
                            <div class="row">
                                <% if how_to.question_picture.attached? %>
                                  <div class="col-md-6 text-left">
                                    <%= how_to.question %>
                                  </div>
                                  <div class="col-md-6 text-left">
                                    <%= image_tag(how_to.question_picture, :class => "img-responsive mh-60 mw-300", width: "100%", height: "100%") %>
                                  </div>
                                <% else %>
                                  <div class="col-md-12">
                                    <%= how_to.question %>
                                  </div>
                                <% end %>
                            </div>
                          </button>
                        </h5>
                      </div>
                      <div id="collapse_<%= how_to.id %>" class="collapse ui-block" aria-labelledby="heading_<%= how_to.id %>" data-parent="#accordion">
                        <div class="card-body">
                          <div class="row">
                            <% if how_to.answer_picture.attached? %>
                              <div class="col-md-4">
                                <%= image_tag(how_to.answer_picture, :class => "img-responsive mh-60 mw-300", width: "100%", height: "100%") %>
                              </div>
                            <% end %>
                            <div class="col-md-8 text-left">
                              <h6 class="float-left"><%= how_to.answer.html_safe %></h6>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
