<%#
# Show

This view is the template for the show page.
It renders the attributes of a resource,
as well as a link to its edit page.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Show][1].
  Contains methods for accessing the resource to be displayed on the page,
  as well as helpers for describing how each attribute of the resource
  should be displayed.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Show
%>

<% content_for(:title) { t("administrate.actions.show_resource", { name: page.page_title }) } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>

  <div>
    <% if page.resource.confirmed_at.present? %>
      <button type="button" class="button" disabled>Send confirmation</button>
      <%= link_to "Login As User", masquerade_path(page.resource), class: "button" %>
    <% else %>
      <%= link_to "Send confirmation", send_confirmation_link_admin_users_path(id: page.resource.id), class: "button" %>
    <% end %>
    <%= link_to "Profile", feed_path(uuid: page.resource.uuid), class: "button", target: '_blank' %>

    <%= link_to(
      "#{t("administrate.actions.edit")} #{page.page_title}",
      [:edit, namespace, page.resource],
      class: "button",
    ) if valid_action? :edit %>

    <%=link_to(
           "AI Chat History",
           master_admin_user_ai_histories_show_path(id: page.resource.id),
           class: "button"
       ) %>
  </div>
</header>

<section class="main-content__body">
  <dl>
    <% page.attributes.each do |title, attributes| %>
      <fieldset class="<%= "field-unit--nested" if title.present? %>">
        <% if title.present? %>
          <legend><%= t "helpers.label.#{page.resource_name}.#{title}", default: title %></legend>
        <% end %>

        <% attributes.each do |attribute| %>
          <dt class="attribute-label" id="<%= attribute.name %>">
            <%= t(
                    "helpers.label.#{resource_name}.#{attribute.name}",
                    default: attribute.name.titleize,
                    ) %>
          </dt>

          <dd class="attribute-data attribute-data--<%= attribute.html_class %>"
          ><%= render_field attribute, page: page %></dd>
        <% end %>
      </fieldset>
    <% end %>
  </dl>
  <br>
  <% if @admin_histories.present? %>
    <h2 class="text-center m-5 pt-3"> Admin History </h2>
    <% @admin_histories.each do |history| %>
      <div class="card">
        <div class="tab-content admin-tab-content pt-30">
          <div role="tabpanel" class="tab-pane active show" id="t1">
            <ul class="activity-list list-unstyled">
              <li class="clearfix">
                <div class="float-left">
                  <% if @user.profile_image.present? %>
                    <%= image_tag @user.profile_image, class: "img-fluid rounded-circle" %>
                  <% else %>
                    <%= image_tag "profile.png", class: "img-fluid rounded-circle" %>
                  <% end %>
                </div>
                <div class="act-content">
                  <div class="font-400">
                    <% message = history.message.humanize %>
                    <%= @user.name %>
                    <% target_type = history.target_type.underscore.camelize.constantize %>
                    <% target = target_type.find_by(id: history.target_id) %>
                    <% if history.target_type == "Message" %>
                      send a message to
                      <%= link_to (user = User.find_by(id: target.user_id)) ? user.name : 'user doesn\'t exist anymore', (user ? feed_path(uuid: user.uuid) : '#'), class: (target ? '' : ' btn disabled m-0 p-0') %>
                      <%= "'#{message}'" %>
                    <% else %>
                      <%= target ? "as" : "#{history.action} a" %>
                      <%= message if target_type == User %>
                      <%= link_to (target ? target_type == User ? target.name : message : "#{target_type} doesn't exist anymore"), (target ? target_type == User ? feed_path(uuid: target.uuid) : send("admin_#{target_type.to_s.underscore}_path", target) : '#'), title: "This will lead you to the admin dashboard (currently you are in master admin dashboard) in a new tab", target: "_blank", class: (target ? '' : ' btn disabled m-0 p-0') %>
                    <% end %>
                  </div>
                  <span class="text-small"><%= history.created_at.strftime('%B %d, %Y %H:%M') %></span>
                  <div>
                    <% if history.ip_address.present? %>
                      <strong>Admin iP:</strong> <%= history.ip_address %>
                    <% end %>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= paginate @admin_histories %>
</section>
