<% interested_users.each do |interested_user| %>
  <% unless interested_user.parent_id.present? %>
    <div class="col-lg-12 col-md-12 ml-auto mr-auto pb-1 border">
      <div class="media">
        <div class="media-body">
          <h5 class="media-heading"><%= interested_user.user.name %></h5>
          <div id="comment-form-<%= interested_user.id %>"></div>
          <p id="comment-body-<%= interested_user.id %>">
            <% if interested_user.content.length > InterestedUser::MAX_BODY_LENGTH %>
              <span class="comment-truncated-content">
                <%= truncate(interested_user.content, length: InterestedUser::MAX_BODY_LENGTH, separator: ' ', omission: '...') %>
              </span>
              <span class="comment-full-content" style="display: none;"><%= interested_user.content %></span>
              <a href="#" class="see-more-link">See more</a>
            <% else %>
              <%= interested_user.content.blank? ? 'No details provided' : interested_user.content %>
            <% end %>
          </p>
          <ul class="list-unstyled list-inline media-detail pull-left">
            <li><i class="fa fa-calendar"></i> <%= time_ago_in_words(interested_user.created_at) %> ago</li>
            <% if interested_user.created_at != interested_user.updated_at %>
              <li class="mt-2">
                <span class='font-italic mt-2 text-secondary'>Edited: <%= interested_user.created_at.strftime('%d-%m-%Y') %></span>
              </li>
            <% end %>
            <% if current_user %>
              <li class="mt-2">
                <% if interested_user.user_id == current_user.id %>
                  <%= link_to 'Edit', edit_post_interested_user_path(post, interested_user.id), remote: true, class: 'mr-1' %>
                  <%= link_to 'Delete', post_interested_user_remove_interested_user_path(post.id, interested_user.id), method: :delete, class: 'mr-1' %>
                  <%= link_to 'Reply', new_post_interested_user_path(post, parent_id: interested_user.id), remote: true, class: 'mr-1' %>
                <% else %>
                  <%= link_to 'Reply', new_post_interested_user_path(post, parent_id: interested_user.id), remote: true, class: 'mr-1' %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="reply_container_<%= interested_user.id %>">
        <% if interested_user.replies.any? %>
          <%= render partial: 'interested_users/replies', locals: {replies: interested_user.replies, post: post} %>
        <% end %>
      </div>
      <div id="interested-user-reply-form-<%= interested_user.id %>"></div>
    </div>
  <% end %>
<% end %>
