<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog  modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Flag this <%= @klass.to_s.downcase%></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <%= form_with(model: @flag, local: true, remote: true) do |form| %>
        <div class="modal-body">

          <%= form.hidden_field :user_id, value: current_user.id %>
          <%= form.hidden_field :flagable_id, value: @resource.id %>
          <%= form.hidden_field :flagable_type, value: @klass.to_s %>

          <div class="form-group">
            <%= form.rich_text_area :reason, autofocus: true, class: 'form-control', placeholder: "Reason" %>
          </div>

        </div>
        <div class="modal-footer">
          <%= form.submit 'Create', class: 'btn btn-primary'  %>
        </div>

      <% end %>
    </div>

  </div>
</div>
