<div class="row">
  <% arguments.each do |argument| %>
    <div class="col-lg-12 col-md-12">
      <div class="media border border-comments p-2">
        <div class="media-body">
          <em class="media-heading">
            <strong><%= argument.user.name %></strong> wrote on <%= argument.created_at.strftime('%d-%m-%Y %l:%M %p') %>
          </em>
          <p><%= argument.content %></p>
        </div>
      </div>
    </div>
  <% end %>
  <hr>
  <div class="col-lg-12 pt-3">
    <%= form_with(model: @token_ans_debate, local: true) do |form| %>

      <% if @post_token.present? %>
        <%= form.hidden_field :user_id, value: @post_token.user_id %>
        <%= form.hidden_field :post_token_id, value: @post_token.id %>
        <%= form.hidden_field :post_id, value: @post_token.post_id %>
        <%= form.hidden_field :debate_type, value: debate_type_value %>
      <% end %>

      <div class="form-group">
        <%= form.text_area :content, autofocus: true, rows: 3, class: 'form-control', placeholder: place_holder, id: 'froala-editor', required: true %>
      </div>

      <div class="form-group">
        <%= form.submit 'Create', class: 'btn btn-primary' %>
      </div>

    <% end %>
  </div>
</div>
