<div class="container">
  <div class="row">
    <div class="col-md-12 text-center mb-2">
      <h1><b>Question</b></h1>
    </div>
    <div class="col-lg-12 col-md-12 pr-0">
      <div class="ui-block shadow-lg rounded">
        <div class="ui-block-content">
          <% if @post_token.present? %>
            <div class="col-md-12">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <%= link_to 'Back', post_path(@post_token.post_id), class: 'btn btn-primary float-left padding-top-10' %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 text-left mb-2 text-center pb-3 border-bottome">
                <%= @post_token.content %>
              </div>
              <div class="col-lg-12 col-md-12">
                <h3 class="text-center">Answers</h3>
                <div class="row">
                  <% @answers.each do |argument| %>
                    <div class="col-lg-12 col-md-12 pb-1">
                      <div class="row">
                        <div class="col-md-2 col-lg-2 text-center pt-2">
                          <div><%= argument.likes.count %></div>
                          <% if !voted?(argument) %>
                            <div class="row">
                              <div class="col-lg-12">
                                <%= link_to upvote_likes_path(likeable_id: argument.id, user_id: current_user.id, likeable_type: 'TokenAnsDebate', post_token_type: 'question', post_token_id: @post_token.id), class: 'padding-14' , title: 'Up vote', remote: true, :method => :patch do %>
                                  <i class="fa fa-arrow-circle-up" style="color: black;" aria-hidden="true"></i>
                                <% end %>
                              </div>
                              <div class="col-lg-12">
                                <%= link_to downvote_likes_path(flagable_id: argument.id, user_id: current_user.id, flagable_type: 'TokenAnsDebate', post_token_type: 'question', post_token_id: @post_token.id), title: 'Down vote', remote: true, :method => :patch do %>
                                  <i class="fa fa-arrow-circle-down" style="color: black;" aria-hidden="true"></i>
                                <% end %>
                              </div>
                            </div>
                          <% else %>
                            <div class="row">
                              <div class="col-lg-12">
                                <a type="button" title="You already voted" disabled>
                                  <i class="fa fa-arrow-circle-up" style="color: grey;" aria-hidden="true"></i>
                                </a>
                              </div>
                              <div class="col-lg-12">
                                <a type="button" title="You already voted" disabled>
                                  <i class="fa fa-arrow-circle-down" style="color: grey;" aria-hidden="true"></i>
                                </a>
                              </div>
                            </div>
                          <% end %>
                          <div><%= argument.flags.count %></div>
                        </div>
                        <div class="col-md-10 col-lg-10 pl-0">
                          <p><%= argument.content %></p>
                        </div>
                      </div>
                      <hr>
                    </div>
                  <% end %>
                  <% if @answers.blank? %>
                    <div class="col-lg-12 col-md-12 justify-content-center text-center pb-3 pt-2">
                      <div class="text-warning text-center">No answers added yet</div>
                      <hr>
                    </div>
                  <% end %>
                  <div class="col-lg-12 col-md-12">
                    <div id="intro" class="collapse">
                      <%= form_with(model: @token_ans_debate, local: true) do |form| %>

                        <% if @post_token.present? %>
                          <%= form.hidden_field :user_id, value: current_user&.id %>
                          <%= form.hidden_field :post_token_id, value: @post_token.id %>
                          <%= form.hidden_field :post_id, value: @post_token.post_id %>
                        <% end %>

                        <div class="form-group">
                          <%= form.text_area :content, autofocus: true, rows: 3, class: 'form-control', placeholder: 'Add Answer', id: 'froala-editor', required: true %>
                        </div>

                        <div class="form-group text-center">
                          <%= form.submit 'Add', class: 'btn btn-light pl-5 pr-5' %>
                        </div>
                      <% end %>
                    </div>
                    <div class="form-group text-center">
                      <button class="btn btn-light add-argument-btn pl-5 pr-5" data-toggle="collapse" data-target="#intro">Add</button>
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
              </div>
            </div>
          <% else %>
            <div class="row">
              <div class="col-sm-12 text-left mb-2 text-center pb-3 border-bottome">
                <div class="alert alert-warning">Content not available, this token or owner of this token was deleted</div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .border-bottome {
    border-bottom: solid;
  }
  .border-right-debate {
    border-right: solid;
  }
  .hidden {
    display: none;
  }
  .padding-14 {
    padding: 14px;
  }
</style>
<script>
    $('.add-argument-btn').click(function(){
        // $(this).toggle('hidden');
        $(this).text(function(i,old){
            // if (old == 'Add') {}
            return old=='Add' ?  'Cancel' : 'Add';
        });
    });
</script>
