<div class="container d-flex justify-content-center font-weight-bold">
  <h1>
    User Survey
  </h1>
</div>
<div class="container mt-20">
  <div class="container">
    <%= form_for(@feedback, url: feedbacks_path, html: {method: :post}) do |f| %>
      <% if FeedbackQuestion.present? %>
        <%= f.fields_for :feedback_responses, @feedback.feedback_responses do |f_response| %>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="form-group label-floating">
                <h3>
                  <%= f_response.object.feedback_question.body %>
                </h3>
                <%= f_response.hidden_field :feedback_question_id, value: f_response.object.feedback_question_id %>
              </div>
              <% if f_response.object.feedback_question.feedback_question_options.present? %>
                <h5>
                  <%= f_response.collection_radio_buttons :feedback_question_option_id, f_response.object.feedback_question.feedback_question_options.all, :id, :body %>
                </h5>
              <% end %>
              <div class="form-group label-floating">
                <%= f_response.text_area :comment, autofocus: true, placeholder: 'Comment', class: 'form-control',cols: 3, rows: 3 %>
              </div>
            </div>
          </div>
        <% end %>
        <div class="row mb-5 d-flex justify-content-center mt-10">
            <%= f.submit 'Save', class: 'btn btn-primary btn-lg full-width d-flex justify-content-center'%>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
