<%= form_with(model: post, local: true) do |form| %>

  <% if !@post.persisted? %>
    <%= form.hidden_field :post_type, value: @type %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :area_id, value: @area_id %>
    <%= form.hidden_field :problem_id, value: @problem_id %>
    <%= form.hidden_field :post_id, value: @post_id %>
  <% end %>
  <div class="form-group">
    <%= form.text_field :title, autofocus: true, class: 'form-control', placeholder: "Title" %>
  </div>
  <div class="form-group">

    <%= form.text_area :content, autofocus: true, rows: 20, class: 'form-control', placeholder: "Body", id: 'summernote' %>
  </div>

  <div class="row">
    <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12">
      <div class="form-group">
        <%= form.file_field :images, multiple: true, accept: 'image/jpeg, image/png' %>
      </div>
    </div>
    <% if @post.post_type == Post::POST_TYPE_AREA && !@post.persisted? %>
      <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text private-checkbox">
              <%= form.check_box :private, onchange: 'togglePrivateSection()' %>
            </div>
            <label class="form-check-label pl-2 pt-1">
              Make this area private?
            </label>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <% if @post.images.present? %>
    <div class="col-lg-12 col-md-12 ml-auto mr-auto">
      <% @post.images.each do |image| %>
        <div class="col-md-3">
          <%= image_tag(image, :class => "img-responsive", width: "250") %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :tag_list, class: 'form-control', placeholder: "Tags (separated by commas)" %>
  </div>

  <div id="private-users-section">
    <% if @post.post_type == Post::POST_TYPE_AREA %>
      <% if !@post.persisted? %>
        <%= render 'private_users_list', private_users: @private_users, post: @post %>
      <% elsif @post.persisted? && @post.private? %>
        <%= render 'private_users_list', private_users: @private_users, post: @post %>
      <% else %>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">

    <%= form.submit class: 'btn btn-primary' %>

    <%= link_to "Cancel", :back, class: "btn btn-link" %>
  </div>
<% end %>

<script>

    if($('#post_private').is(":checked")) {
        $('#private-users-section').show();
        applySelect2();
    } else {
        $('#private-users-section').hide();
    }

    function togglePrivateSection() {
        if($('#post_private').is(":checked")) {
            $('#private-users-section').show();
            applySelect2();
        } else {
            $('#private-users-section').hide();
        }
    }

  <% if @post.persisted? %>
    $('#private-users-section').show();
    applySelect2();

    var NoteButton = function (context) {
        var ui = $.summernote.ui;

        var button = ui.button({
            contents: '<%= image_tag('note.png', class: 'img-responsive', width: '20') %>',
            tooltip: 'Note Token',
            click: function () {

                dropToken(context, 'note')
            }
        });

        return button.render();
    };

    var DebateButton = function (context) {
        var ui = $.summernote.ui;

        // create button
        var button = ui.button({
            contents: '<%= image_tag('debate.png', class: 'img-responsive', width: '20') %>',
            tooltip: 'Debate Token',
            click: function () {
                dropToken(context, 'debate')
            }
        });

        return button.render();
    };

    var QuestionButton = function (context) {
        var ui = $.summernote.ui;

        var button = ui.button({
            contents: '<%= image_tag('question.png', class: 'img-responsive', width: '20') %>',
            tooltip: 'Question Token',
            click: function () {
                dropToken(context, 'question')
            }
        });

        return button.render();
    };

    function dropToken(e, token_type) {
        var editor = e;
        $.ajax({
            url: '/post_tokens',
            type: "POST",
            dataType: "JSON",
            data: {
                user_id: <%= current_user.id %>,
                post_id: <%= @post.id || 2 %>,
                post_token_type: token_type,
            },
            success: function (data) {

                if (data.post_token_type == 'note') {
                    var noteHTML = '<a href="/post_tokens/' + data.post_token_type + '?id=' + data.id + '"><%= image_tag('note.png', width: "20") %>';
                    editor.invoke('editor.pasteHTML', noteHTML);
                } else if (data.post_token_type == 'debate') {
                    var debateHTML = '<a href="/post_tokens/' + data.post_token_type + '?id=' + data.id + '"><%= image_tag('debate.png', width: "20") %>';
                    editor.invoke('editor.pasteHTML', debateHTML);
                } else {
                    var questionHTML = '<a href="/post_tokens/' + data.post_token_type + '?id=' + data.id + '"><%= image_tag('question.png', width: "20") %>';
                    editor.invoke('editor.pasteHTML', questionHTML);
                }

                $.ajax({
                    url: '/post_tokens/token_modal',
                    type: "get",
                    data: {
                        id: data.id,
                    }
                })
            },
            error: function (data) {
            }
        })
    };

    $('#summernote').summernote({
        height: 150,
        disableDragAndDrop: true,
        toolbar: [
            // [groupName, [list of button]]
            ['style', ['bold', 'italic', 'underline', 'link']],
            ['font', ['strikethrough', 'fontsize']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['tokens', ['note', 'question', 'debate']],
            ['misc', ['undo', 'redo']]
        ],
        popover: {
            image: [
                ['remove', ['removeMedia']]
            ],
            link: []
        },
        buttons: {
            note: NoteButton,
            question: QuestionButton,
            debate: DebateButton,
        }
    });

  <% else %>
  $('#summernote').summernote({
      height: 150,
      disableDragAndDrop: true,
      toolbar: [
          // [groupName, [list of button]]
          ['style', ['bold', 'italic', 'underline', 'link']],
          ['font', ['strikethrough', 'fontsize']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['misc', ['undo', 'redo']]
      ],
      popover: {
          image: [
              ['remove', ['removeMedia']]
          ],
          link: []
      }
  });
  <% end %>


    function applySelect2() {
        var results = [];
        <% @post.private_users.each do |user| %>
            results.push({
                id: '<%= user.id %>',
                text: '<%= user.name %>'
            });
        <% end %>
        agent = $('#post_user_ids_').select2({
            placeholder: 'Search',
            quietMillis: 200,
            multiple: true,
            minimumInputLength: 2,
            data: results,
            ajax: {
                delay: 250,
                dataType: "JSON",
                url: "<%= get_users_path %>",
                data: function (params) {
                    var query = {
                        term: params.term,
                        excluded_ids: <%= @post.private_users.ids %>
                    };

                    // Query parameters will be ?search=[term]&type=public
                    return query;
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                },
            },
            templateResult: formatRepo,
            templateSelection: formatRepoSelection

        });
<!--        let selected = <%#= @post.private_users.collect(&:name).to_json.html_safe %>-->
        agent.val(<%= @post.private_users.collect(&:name).to_json.html_safe %>);
        agent.trigger('change');
    }

  function formatRepo (user) {
      if (user.loading) return user.text;
      console.log('user', user);

      var $span = $("<span><img src=" + user.profile_picture + " style=\"width: 20px; height: 20px\" /> "+ user.text + "</span>");
      return $span;
  }

  function formatRepoSelection (user) {
      return user.text;
  }

</script>

