<div class="row">
  <div class="col-lg-12 col-md-12 ml-auto mr-auto pb-1 text-center">
    <% if @keywords.nil? %>
      <% if posts.blank? && type.present? %>
        <h4 class="alert alert-warning">There are no <%= type.pluralize.titleize %> created yet <%= "for #{@post.title}" if @post.present? %></h4>
      <% end %>
    <% end %>
  </div>
  <% posts.each do |post| %>
    <% if post.post_type == Post::POST_TYPE_SUBJECT %>
      <% next if post.private? && !post.private_users&.include?(current_user) %>
    <% end %>

    <% if post.post_type.in?([Post::POST_TYPE_PROBLEM]) %>
      <% next if post.parent_subject&.private? && !post.parent_subject&.private_users&.include?(current_user) %>
    <% end %>

    <% if post.post_type == Post::POST_TYPE_IDEA %>
      <% next if post.problem&.parent_subject&.private? && !post.problem&.parent_subject&.private_users&.include?(current_user) %>
    <% end %>

    <% if post.post_type == Post::POST_TYPE_LAYER %>
      <% next if post.parent_post&.private? && !post.parent_post&.private_users&.include?(current_user) %>
    <% end %>
    <div class="col-lg-12 col-md-12 ml-auto mr-auto pb-1">
      <div class="ui-block shadow-lg rounded">
        <div class="ui-block-content">
            <div class="row">
            <div class="col-8 text-decoration-none">
              <%= link_to post_path(post), class: 'text-decoration-none' do %>
                <div class="row">
                  <div class="col-lg-12">
                    <h2>
                      <span class="<%= post_type_color(post.post_type) %>"><%= post.post_type.titleize %>: </span>
                      <% if check_if_private?(post) %>
                        <i class="fa fa-lock" aria-hidden="true" style="font-size: 20px;" title="Private Post"></i>
                      <% end %>
                      <span class='text-dark'><%= truncate(post.title, length: 25) %></span>
                    </h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 text-dark">
                    <em>Author: <%= post.user.name %></em><br>
                    <em><%= post.created_at.strftime('%d-%m-%Y') %></em>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="col-4 text-right">
              <% if post.post_type == Post::POST_TYPE_SUBJECT %>
                <%= link_to post_problems_path(post_id: post.id, post_type: Post::POST_TYPE_PROBLEM), class: 'btn btn-default' do %>
                  <%= image_tag('problem_icon.svg', height: "35%", width: "35%", title: 'See Problems in this Subject') %>
                <% end %>
              <% end %>
              <% if post&.user == current_user %>
                <%= link_to post_path(post), class: 'btn btn-default', method: :delete, data: { confirm: 'All comments and other activity related to this post will be deleted' } do %>
                  <i class="fa fa-trash-alt" style="font-size: 18px" title="Delete this post"></i>
                <% end %>
              <% end %>
            </div>
            <div class="col-md-12">
              <% if post.tag_list.present? %>
                <p>Tags: <%= raw post.tag_list.map { |t| link_to "##{t}", tag_path(t) }.join(', ') %></p>
              <% end %>

              <p><%= post.content %></p>
            </div>
            <div class="col-lg-12 col-md-12 ml-auto mr-auto mb-3 justify-content-center">
              <div class="row">
                <% if post.images.present? %>
                  <% post.images.each do |image|  %>
                    <div class="col-md-6">
                      <%= image_tag(image, class: 'img-fluid') %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="col-md-2 mb-2">
              <% if !post.editing_disabled? && post.user_id == current_user.id && [Post::POST_TYPE_SOCIAL_MEDIA, Post::POST_TYPE_HAVE, Post::POST_TYPE_WANT].include?(post.post_type) %>
                  <%= link_to 'Edit', edit_post_path(post), class: 'mr-1' %>
              <% end %>
              <% if post.flags.pluck(:user_id).include?(current_user.id) %>
                <%= link_to flag_path(id: post.id, flagable_id: post.id, flagable_type: 'Post'), class: 'btn btn-primary', title: 'Un-Flag this post', remote: true, :method => :delete do %>
                  <i class="fa fa-flag" aria-hidden="true"></i>
                <% end %>
              <% else %>
                <%= link_to reason_modal_flags_path(flagable_id: post.id, flagable_type: 'Post'), title: 'Flag this post', class: 'btn btn-secondary', remote: true do %>
                  <i class="fa fa-flag-checkered" aria-hidden="true"></i>
                <% end %>
              <% end %>
              <span><%= post.flags.count %></span>
            </div>
            <div class="col-md-12">
              <div class="mb-5">
                <%= render 'comments/form', comment: Comment.new, post: post %>
              </div>
            </div>
            <div class="col-md-12 row comments_container_<%= post.id %> pl-4">
              <% post_comments = post_comments(post)%>
              <%= render 'comments/list', post: post, comments: post_comments %>
            </div>
            <% if !post_comments.last_page? && post_comments.present? %>
              <%= link_to "Load more", comments_path(post_id: post.id, page: post_comments.current_page + 1), id: "load-more-posts-#{post.id}", class: 'w-100 d-flex justify-content-center text-center p-3 h6', remote: true %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
