<div class="row">
  <div class="col-lg-12 col-md-12 ml-auto mr-auto pb-1 text-center">
    <% if @keywords.nil? %>
      <% if posts.blank? && type.present? %>
        <h4 class="alert alert-warning">There are no <%= type.pluralize.titleize %> created yet <%= "for #{@post.title}" if @post.present? %></h4>
      <% end %>
    <% end %>
  </div>
  <% posts.each do |post| %>
    <% if post.post_type == Post::POST_TYPE_AREA %>
      <% next if post.private? && !post.private_users&.include?(current_user) %>
    <% end %>

    <% if post.post_type.in?([Post::POST_TYPE_PROPOSAL,Post::POST_TYPE_PROBLEM]) %>
      <% next if post.parent_area&.private? && !post.parent_area&.private_users&.include?(current_user) %>
    <% end %>

    <% if post.post_type == Post::POST_TYPE_IDEA %>
      <% next if post.problem&.parent_area&.private? && !post.problem&.parent_area&.private_users&.include?(current_user) %>
    <% end %>

    <% if post.post_type == Post::POST_TYPE_LAYER %>
      <% next if post.parent_post&.private? && !post.parent_post&private_users&.include?(current_user) %>
    <% end %>
    <div class="col-lg-12 col-md-12 ml-auto mr-auto pb-1">
      <div class="ui-block shadow-lg rounded">
        <div class="ui-block-content">
          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="col-lg-12">
                  <h2>
                    <span class="<%= post_type_color(post.post_type) %>"><%= post.post_type.titleize %>: </span>
                    <%= link_to post.title, post_path(post), class: 'text-dark' %>
                  </h2>
                </div>
              </div>
              <em>Author: <%= post.user.name %></em><br>
              <em><%= post.created_at.strftime('%d-%m-%Y') %></em>
            </div>
            <div class="col-md-4 text-right">
              <% if post.post_type == Post::POST_TYPE_AREA %>
                <%= link_to post_problems_path(post_id: post.id, post_type: Post::POST_TYPE_PROBLEM), class: 'btn btn-default' do %>
                  <%= image_tag('problem_icon.svg', height: "50%", width: "50%", title: 'See Problems in this Area') %>
                <% end %>
                <%= link_to post_proposals_path(post_id: post.id, post_type: Post::POST_TYPE_PROPOSAL), class: 'btn btn-default btn-default pr-2' do %>
                  <%= image_tag('proposal_icon.svg', height: "50%", width: "50%", title: 'See Proposals in this Area') %>
                <% end %>
              <% else %>
              <% end %>
            </div>
            <div class="col-md-12">
              <p>Tags: <%= raw post.tag_list.map { |t| link_to "##{t}", tag_path(t) }.join(', ') %></p>

              <p><%= post.content %></p>
            </div>
            <div class="col-lg-12 col-md-12 ml-auto mr-auto mb-3 justify-content-center">
              <div class="row">
                <% if post.images.present? %>
                  <% post.images.each do |image|  %>
                    <div class="col-md-6">
                      <%= image_tag(image, class: 'img-fluid') %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
