<div class="row">
  <% posts.each do |post| %>
    <% if post.post_type == Post::POST_TYPE_SUBJECT %>
      <% next if post.private? && !post.private_users&.include?(current_user) %>
    <% end %>

    <% if post.post_type.in?([Post::POST_TYPE_PROBLEM]) %>
      <% next if post.parent_subject&.private? && !post.parent_subject&.private_users&.include?(current_user) %>
    <% end %>

    <% if post.post_type == Post::POST_TYPE_IDEA %>
      <% next if post.problem&.parent_subject&.private? && !post.problem&.parent_subject&.private_users&.include?(current_user) %>
    <% end %>

    <% if post.post_type == Post::POST_TYPE_LAYER %>
      <% next if post.parent_post&.private? && !post.parent_post&.private_users&.include?(current_user) %>
    <% end %>
    <div class="col-lg-12 col-md-12 ml-auto mr-auto pb-1">
      <div class="ui-block shadow-lg rounded">
        <div class="ui-block-content custom-width">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="btn btn-link p-0 m-0 font-weight-bold">
                  <span id="rating_title-<%= post.id %>" class="search-result-rating text-dark" data-toggle="modal" data-target="#rating_modal-<%= post.id %>"><%= post&.ratings.where.not(rating: 6)&.pluck(:rating)&.sum || 0 %></span>
                </div>
                <div class="col-11">
                  <%= link_to post_path(post.id), class: 'text-decoration-none' do %>
                    <div class="row">
                      <div class="col-3 search-result-img">
                        <% if post.images.present? %>
                          <%= image_tag(post.images.first, class: 'img-fluid') %>
                        <% else %>
                          <%= image_tag('thumbs_for_bars.png', class: 'img-fluid missing-image') %>
                        <% end %>
                      </div>
                      <div class="col-9 text-dark text-break overflow-auto">
                        <b class="pl-2"><%= post.post_type.titleize %>:</b> <h6><%= post.title %></h6>
                        <p><%= truncate(strip_tags(post&.content&.to_s), length: 150) %></p>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="rating_modal-<%= post.id %>" tabindex="-1" role="dialog" aria-labelledby="rating_modal-<%= post.id %>" aria-hidden="true">

      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Rate <%= post.title %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body p-2" id="body-<%= post.id %>">

            <%= render 'rating_modal', post: post %>
          </div>
        </div>
      </div>
    </div>

    <script>
        $('#popover-<%= post.id %>').popover({
            html : true,
            placement: 'bottom',
            content: function() {
                return $("#popover-content-<%= post.id %>").html();
            }
        });
    </script>
  <% end %>
</div>
<style>
  .missing-image {
    height: 65%;
  }
  @media (min-width: 766px) {
    .custom-width {
      max-height: 200px !important;
      min-height: 125px !important;
      height: 125px !important;
    }
  }
</style>
