<div id="map"></div>
<style>
  #map { height: 600px;}
</style>
<script>

    var mymap = L.map('map').setView([32.1656, -82.9001], 1);

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
        'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1
    }).addTo(mymap);

    <% @geo_maxing_posts.each do |post| %>
      var title = "<%= truncate(post.title, length: 20) %>"
      var content = "<%= post.content.present? ? truncate(post_content_for_map(post), length: 40).to_s : 'Body missing' %>"
      L.marker([<%= post.lat %>, <%= post.long %>]).addTo(mymap)
          .bindPopup(`<a style="color:black;" href="<%= post_path(post) %>"><b>${title}</b><br/>${content}</a>`);
    <% end %>

    // georgia coordinates = [32.1656, -82.9001]

</script>