<div class="container mb-5">
  <div class="row mt-3">
    <div class="col-md-12 text-center mb-2">
      <h1><b>Search results</b></h1>
    </div>
    <div class="col-md-12">
      <div class="row m-t-40 p-t-20 artist-box">
        <div class="col-md-12">
          <h3><b>Posts</b></h3>
        </div>

        <div class="col-md-12">
          <div class="row text-right">
            <div class="col-lg-12 col-md-12">
              <div class="ui-block shadow-lg rounded">
                <div class="ui-block-content">
                  <%= link_to new_post_path(post_type: Post::POST_TYPE_AREA), class: 'btn btn-default' do %>
                      <%= image_tag('area_icon.svg', height: "50%", width: "50%", title: 'Create Area Post') %>
                    <% end %>
                  <%= link_to new_post_path(post_type: Post::POST_TYPE_PROBLEM, post: { from_feed: true }), class: 'btn btn-default' do %>
                    <%= image_tag('problem_icon.svg', height: "50%", width: "50%", title: 'Create Problem Post') %>
                  <% end %>
                  <%= link_to new_post_path(post_type: Post::POST_TYPE_IDEA, post: { from_feed: true }), class: 'btn btn-default' do %>
                    <%= image_tag('idea_icon.svg', height: "50%", width: "50%", title: 'Create Idea Post') %>
                  <% end %>
                  <%= link_to new_post_path(post_type: Post::POST_TYPE_PROPOSAL, post: { from_feed: true }), class: 'btn btn-default' do %>
                    <%= image_tag('proposal_icon.svg', height: "50%", width: "50%", title: 'Create Proposal Post') %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="row">
            <div class="col-lg-12 col-md-12 ml-auto mr-auto pb-1 text-center">
              <h5 class="alert alert-info"><%= @posts&.total_count %> posts and <%= @users&.total_count %> users found <%= "for '#{@keywords[:title_cont]}'" if @keywords[:title_cont].present? %></h5>
            </div>
          </div>
<!--          <div class="row">-->
<!--            <div class="col-sm-6 text-right mb-2 offset-6">-->
              <%#= link_to new_post_path(post_type: Post::POST_TYPE_AREA), class: 'btn btn-primary' do %>
<!--                Add New Post-->
              <%# end %>
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>
      <div id="post-content">
        <%= render 'list', posts: @posts, type: @type %>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <div id="infinite-scrolling" class="justify-content-center">
              <%= paginate @posts, param_name: :posts %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="row m-t-40 p-t-20 artist-box">
        <div class="col-md-12">
          <h3><b>Users</b></h3>
          <div class="row justify-content-center" id="users-content">
            <%= render 'profile/small_friends_list', friends: @users %>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                <div id="infinite-scrolling" class="justify-content-center">
                  <%= paginate @users, param_name: :users %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>