<div class="container mb-5">
  <div class="row mt-3">
    <div class="col-md-12 text-center mb-2">
      <h1><b>Search results</b></h1>
    </div>
    <div class="col-md-12">
      <div class="row m-t-40 p-t-20 artist-box">
        <div class="col-md-12">
          <h3><b>Posts</b></h3>
        </div>

        <div class="col-md-12">
          <div class="row text-right">
            <div class="col-lg-12 col-md-12">
              <div class="ui-block shadow-lg rounded">
                <div class="ui-block-content">
                  <%= link_to new_post_path(post_type: Post::POST_TYPE_SUBJECT), class: 'btn btn-primary', id: 'new_button' do %>
                    Create Post
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="row">
            <div class="col-lg-12 col-md-12 ml-auto mr-auto pb-1 text-center">
              <h5 class="alert alert-info"><%= @posts&.total_count %> posts and <%= @users&.total_count %> users found <%= "for '#{@keywords[:title_cont]}'" if @keywords[:title_cont].present? %></h5>
            </div>
          </div>
<!--          <div class="row">-->
<!--            <div class="col-sm-6 text-right mb-2 offset-6">-->
              <%#= link_to new_post_path(post_type: Post::POST_TYPE_SUBJECT), class: 'btn btn-primary' do %>
<!--                Add New Post-->
              <%# end %>
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link <%= 'active' if @active_tab == 'posts' %>" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><h5><b>Posts</b></h5></a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= 'active' if @active_tab == 'people' %>" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><h5><b>People</b></h5></a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade <%= 'show active' if @active_tab == 'posts' %>" id="home" role="tabpanel" aria-labelledby="home-tab">

          <div class="row pt-3">
            <div class="col-lg-12 col-md-12">
              <div class="ui-block shadow-lg rounded">
                <div class="ui-block-content">
                  <%= search_form_for @q, url: search_result_posts_path do |f| %>
                    <div class="row">
                      <div class="col-12">
                        <div class="row no-gutters align-items-center">
                          <div class="col-6">
                            <div class="form-group row">
                              <label for="inputPassword" class="col-sm-3 col-form-label">Keyword</label>
                              <div class="col-sm-8">
                                <%= f.text_field :title_cont, class: 'form-control' %>
                              </div>
                            </div>
                          </div>

                          <div class="col-6">
                            <div class="form-group row">
                              <label for="inputPassword" class="col-sm-3 col-form-label">Author</label>
                              <div class="col-sm-8">
                                <%= f.text_field :user_first_name_cont, class: 'form-control' %>
                              </div>
                            </div>
                          </div>

                          <div class="col-6">
                            <div class="form-group row">
                              <label for="inputPassword" class="col-sm-3 col-form-label">Post Type</label>
                              <div class="col-sm-8">
                                <%#= f.select(:post_type_cont , options_for_select(Post::TYPES_FOR_SEARCH.map { |r| [r.titleize, r] }, @post_type), { include_blank: false }, {class: 'selectpicker form-control', autofocus: false })%>
                                <%= select_tag 'post_type', options_for_select(Post::TYPES_FOR_SEARCH.map { |r| [r.titleize, r] }, @post_type), include_blank: false , class: "form form-group form-control" %>
                              </div>
                            </div>
                          </div>

                          <div class="col-6">
                            <div class="form-group row">
                              <label for="inputPassword" class="col-sm-3 col-form-label">Sorted By</label>
                              <div class="col-sm-8">
                                <%= select_tag "sorted_by", options_for_select(%w[Highest-Rated Highest-Rated/View New Random], @sorted_by), include_blank: false, class: "form form-group form-control" %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
<!--                    <div class="row pb-4">-->
                      <%#= render 'searchable_tag_section', heading_text: 'Subject', main_section_id: 'subject-tag-section', searched_title: @subject_input_field, modal_section_id: 'subject_input_modal', input_field_name: 'subject_input_field', input_field_value: @subject_input_field %>
                      <%#= render 'searchable_tag_section', heading_text: 'Problem', main_section_id: 'problem-tag-section', searched_title: @problem_input_field, modal_section_id: 'problem_input_modal', input_field_name: 'problem_input_field', input_field_value: @problem_input_field %>
                      <%#= render 'searchable_tag_section', heading_text: 'Idea', main_section_id: 'idea-tag-section', searched_title: @idea_input_field, modal_section_id: 'idea_input_modal', input_field_name: 'idea_input_field', input_field_value: @idea_input_field %>
<!--                    </div>-->
                    <div class="row">
                      <div class="col-md-12">
                        <button class="btn btn-sm btn-secondary mb-3" type="button" data-toggle="collapse" data-target="#collapseAdvanceFilters" aria-expanded="false" aria-controls="collapseExample">
                          Advance Filters <i class="fa fa-sliders" aria-hidden="true"></i>
                        </button>
                        <div class="collapse" id="collapseAdvanceFilters">
                          <div class="row no-gutters align-items-center">
                            <div class="col-6">
                              <div class="form-group row">
                                <label for="inputPassword" class="col-sm-3 col-form-label">Access Type</label>
                                <div class="col-sm-8">
                                  <%= select_tag 'access_type', options_for_select(%w[Public All Curated], @access_type), include_blank: false , class: "form form-group form-control" %>
                                </div>
                              </div>
                            </div>

                            <div class="col-6">
                              <div class="form-group row">
                                <label for="inputPassword" class="col-sm-3 col-form-label">Subject</label>
                                <div class="col-sm-8">
                                  <%= text_field_tag 'subject', @subject, class: 'form-control' %>
                                </div>
                              </div>
                            </div>

                            <div class="col-6">
                              <div class="form-group row">
                                <label for="inputPassword" class="col-sm-3 col-form-label">Resource Tags</label>
                                <div class="col-sm-8">
                                  <%= text_field_tag 'resource_tags', @resource_tags, class: 'form-control' %>
                                </div>
                              </div>
                            </div>

                            <div class="col-6">
                              <div class="form-group row">
                                <label for="inputPassword" class="col-sm-3 col-form-label">Problem</label>
                                <div class="col-sm-8">
                                  <%= text_field_tag 'problem', @problem, class: 'form-control' %>
                                </div>
                              </div>
                            </div>

                            <div class="col-6">
                              <div class="form-group row">
                                <label for="inputPassword" class="col-sm-3 col-form-label">Location Tags</label>
                                <div class="col-sm-8">
                                  <%= text_field_tag 'location_tags', @location_tags, class: 'form-control' %>
                                </div>
                              </div>
                            </div>

                            <div class="col-6">
                              <div class="form-group row">
                                <label for="inputPassword" class="col-sm-3 col-form-label">Idea</label>
                                <div class="col-sm-8">
                                  <%= text_field_tag 'idea', @idea, class: 'form-control' %>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6"></div>
                      <div class="col-6">
                        <div class="form-group row">
                          <div class="col-sm-2"></div>
                          <div class="col-sm-9">
                            <%= f.submit 'Search', class: 'btn btn-primary float-right' %>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <div id="post-content">
            <% if @posts.blank? %>
              <div class="row">
                <div class="col-lg-12 col-md-12 ml-auto mr-auto pb-1">
                  <div class="ui-block shadow-lg rounded">
                    <div class="ui-block-content">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 ml-auto mr-auto pb-1 text-center">
                          <h6 class="alert alert-warning">There doesn’t currently seem to be anything on that on Needpedia, would you like to be the one to add it?</h6>
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 ml-auto mr-auto pb-1 text-center">
                        <%= link_to new_post_path(post_type: Post::POST_TYPE_SUBJECT), class: 'btn btn-primary' do %>
                          Add New Post
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <%= render 'posts_list', posts: @sorted_by == 'Random' ? @posts.shuffle : @posts, type: @type %>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                <div id="infinite-scrolling" class="justify-content-center">
                  <%= paginate @posts, param_name: :posts %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade <%= 'show active' if @active_tab == 'people' %>" id="profile" role="tabpanel" aria-labelledby="profile-tab">

          <div class="row pt-3">
            <div class="col-lg-12 col-md-12">
              <div class="ui-block shadow-lg rounded">
                <div class="ui-block-content">
                  <div class="row">
                    <div class="col-12">
                      <%= search_form_for @u, url: search_result_posts_path do |f| %>
                        <div class="row no-gutters align-items-center">
                          <div class="col-6">
                            <div class="form-group row">
                              <label class="col-sm-2 col-form-label">Name</label>
                              <div class="col-sm-9">
                                <%= f.text_field :first_name_or_last_name_or_full_name_cont, class: 'form-control', placeholder: "Search" %>
                              </div>
                            </div>
                          </div>

                          <div class="col-6">
                            <div class="form-group row">
                              <div class="col-sm-2"></div>
                              <div class="col-sm-9">
                                <%= f.submit 'Search', class: 'btn btn-secondary float-right' %>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="row m-t-40 p-t-20 artist-box">
              <div class="col-md-12">
                <div class="row justify-content-center" id="users-content">
                  <%= render 'profile/small_friends_list', friends: @users %>
                </div>
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                      <div id="infinite-scrolling" class="justify-content-center">
                        <%= paginate @users, param_name: :users %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var post_type = $('#q_post_type_cont').val();
  if (post_type == 'social_media') {
      $('#access_type').val('');
      $('#access_type').parent('div').parent('div').toggle('hidden');
  }

  <%# just removing tag functionality, keeping the commented code for awhile in case its required again  %>
  // $('#post_type').change(function (e) {
  //     $(`#${e.target.value}-tag-section`).removeClass('hidden');
  // })

</script>
