<div class="row">
  <div class="col-lg-6 col-md-6 ml-auto mr-auto">
    <div class="ui-block shadow-lg rounded bg-white">
      <div class="ui-block-content">
        <h1 class="text-center"><%= t "devise.invitations.edit.header" %></h1>

        <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.hidden_field :invitation_token, readonly: true %>

          <% if f.object.class.require_password_on_accepting %>

            <div class="form-group">
              <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: "Full Name" %>
            </div>

            <div class="form-group">
              <%= f.label :password, class: "form-label" %>
              <%= f.password_field :password, class: 'form-control', placeholder: "Password" %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation, class: "form-label" %>
              <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Confirm Password" %>
            </div>
          <% end %>

          <div class="form-group">
            <%= f.submit t("devise.invitations.edit.submit_button"), class: "btn btn-primary btn-block btn-lg" %>
          </div>
        <% end %>
        <div class="text-center">
        </div>
      </div>
    </div>
  </div>
</div>
