<h5 class="font-medium mb-0 mt-3 text-center"> <%= link_to "#{friend.name}", wall_path(uuid: friend.uuid) %></h5>
<h6 class="subtitle text-center">
  <i class="icon-Handshake"></i>
  <%= friend.links.count || '&nbsp'.html_safe %> Connections
</h6>
<% if current_user.present? %>
  <% if current_user.id != friend.id %>
    <% if friend.connection_status(current_user) && friend.connection_status(current_user)[:status] == 'request_sent' %>
      <a href="javascript:void(0);" class="btn waves-effect waves-light btn-rounded btn-secondary btn-block">Request
        Sent</a>
    <% elsif friend.connection_status(current_user) &&  friend.connection_status(current_user)[:status] == 'request_received' %>
      <%= link_to 'Accept', accept_invitation_path(:uuid => friend.connection_status(current_user)[:request_uuid]), class: 'btn waves-effect waves-light btn-rounded btn-secondary btn-block' %>
    <% elsif friend.connection_status(current_user) &&  friend.connection_status(current_user)[:status] == 'connected' %>
      <%#= link_to 'Friends','#', class: 'btn waves-effect waves-light btn-rounded btn-secondary btn-block' %>
      <%= link_to 'Unfriend', un_friend_path(uuid: friend.uuid, redirect: 'current'), method: :delete, class: 'btn waves-effect waves-light btn-rounded btn-secondary btn-block', data: { confirm: "Are you sure?" } %>
    <% else %>
      <%= link_to 'Add Friend', new_connection_request_path(:uuid => friend.uuid), class: 'btn waves-effect waves-light btn-rounded btn-secondary btn-block' %>
    <% end %>
    <%= link_to 'Message', conversations_path(receiver_id: friend.id), method: :post, class: 'btn waves-effect waves-light btn-rounded btn-secondary btn-block' %>
  <% end %>
<% else %>
  <%= link_to 'Add Friend', new_connection_request_path(:uuid => friend.uuid), class: 'btn waves-effect waves-light btn-rounded btn-secondary btn-block' %>
<% end %>
