<h5 class="font-medium mb-0 mt-3 text-center"> <%= link_to "#{friend.name}", wall_path(uuid: friend.uuid) %></h5>
<h6 class="subtitle text-center">
  <i class="icon-Handshake"></i>
  <%= friend.links.count || '&nbsp'.html_safe %> Connections
</h6>
<% if current_user.present? %>
  <% if current_user.id != friend.id %>
    <% if friend.connection_status(current_user)[:status] == 'request_sent' %>
      <a href="javascript:void(0);" class="btn waves-effect waves-light btn-rounded btn-secondary btn-block">Request
        Sent</a>
    <% elsif friend.connection_status(current_user)[:status] == 'request_received' %>
      <%= link_to 'Accept', accept_invitation_path(:uuid => friend.connection_status(current_user)[:request_uuid]), class: 'btn waves-effect waves-light btn-rounded btn-secondary btn-block' %>
    <% elsif friend.connection_status(current_user)[:status] == 'connected' %>
      <%= link_to 'Connected','#', class: 'btn waves-effect waves-light btn-rounded btn-secondary btn-block' %>
    <% else %>
      <%= link_to 'Connect', new_connection_request_path(:uuid => friend.uuid), class: 'btn waves-effect waves-light btn-rounded btn-secondary btn-block' %>
    <% end %>
  <% end %>
<% else %>
  <%= link_to 'Connect', new_connection_request_path(:uuid => friend.uuid), class: 'btn waves-effect waves-light btn-rounded btn-secondary btn-block' %>
<% end %>

