<%= render "shared/tutorial"  %>
<ul class="nav nav-tabs border-0 nav-fill mb-3" id="ex1" role="tablist">
  <li class="nav-item" role="presentation">
    <%= link_to '#ex2-tabs-1', class: 'nav-link active border-bottom-0 border-left-0 border-dark', id: 'ex2-tab-1', data: { mdb_toggle: 'tab' }, role: 'tab', aria: { controls: 'ex2-tabs-1', selected: 'true' } do %>
      <h4 class="font-weight-bold">Feed</h4>
    <% end %>
  </li>
  <li class="nav-item" role="presentation">
    <%= link_to "Wall", wall_path(uuid: params[:uuid]), class: "nav-link h4 font-weight-bold border-top-0 border-right-0 border-dark border-left-0 pb-3", id: "ex2-tab-2", data: { mdb_toggle: "tab" }  %>
  </li>
</ul>
<!-- Tabs navs -->

<!-- Tabs content -->
<div class="tab-content" id="ex2-content">
  <div
    class="tab-pane fade show active"
    id="ex2-tabs-1"
    role="tabpanel"
    aria-labelledby="ex2-tab-1"
  >
    <div class="row justify-content-center">
      <div class="col-md-9 col-lg-9 col-xl-9 col-sm-12">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="container mb-3">
                <div class="row justify-content-center">
                  <div class="col-12 col-md-10 col-lg-8">
                    <%= search_form_for @f, url: wall_path, method: :get do |f| %>
                      <div class="row no-gutters align-items-center">
                        <div class="col">
                          <%= f.text_field :title_or_content_body_or_tags_name_cont, class: 'form-control form-control-lg', placeholder: "Search" %>
                        </div>
                        <div class="col-auto">
                          <button class="ml-2 btn btn-lg btn-secondary search-button" type="submit">Go</button>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="content" class="p-4">
          <div class="col-md-12">
            <%= render 'posts/list', posts: @posts, type: nil %>
          </div>
          <% if @posts.blank? %>
            <div class="col-md-12 text-center">
              <h5 class="text-warning">Not posted yet</h5>
            </div>
          <% end %>
        </div>
        <div id="infinite-scrolling" class="hide">
          <%= paginate @posts, theme: 'default' %>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
    $(document).on('turbolinks:load', function () {
        if ($('.pagination').length && $('#content').length) {
            $(window).on('scroll', function () {
                more_posts_url = $('.pagination .next_page a').attr('href');
                if (more_posts_url) {
                    more_posts_url = more_posts_url;
                } else {
                    more_posts_url = $('.pagination .next a').attr('href');
                }
                if (more_posts_url && $(window).scrollTop() > $(document).height() - $(window).height() - 60) {
                    $('.pagination').html('<img src="/assets/ajax-loader.gif" alt="Loading..." title="Loading..." />');
                    $.getScript(more_posts_url);
                }
            });
        }
    });
</script>
<style>
  .pagination > li {
    display: none;
  }
</style>
