<div class="row">
  <div class="col-md-3 col-lg-3 col-xl-3 col-sm-12"><%= render 'shared/sidebar' %></div>
  <div class="col-md-9 col-lg-9 col-xl-9 col-sm-12">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="container mb-3">
            <div class="row justify-content-center">
              <div class="col-12 col-md-10 col-lg-8">
                <%= search_form_for @f, url: wall_path, method: :get do |f| %>
                  <div class="row no-gutters align-items-center">
                    <div class="col">
                      <%= f.text_field :title_or_content_body_or_tags_name_cont, class: 'form-control form-control-lg', placeholder: "Search" %>
                    </div>
                    <div class="col-auto">
                      <button class="ml-2 btn btn-lg btn-secondary search-button" type="submit">Go</button>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="content" class="p-4">
      <div class="row">
        <div class="col-sm-6 text-right mb-2 offset-6">
          <%= link_to have_posts_path(uuid: params[:uuid]), class: 'btn btn-primary' do %>
            Have
          <% end %>
          <%= link_to want_posts_path(uuid: params[:uuid]), class: 'btn btn-primary' do %>
            Want
          <% end %>
          <%= link_to new_post_path(post_type: Post::POST_TYPE_SOCIAL_MEDIA, uuid: params[:uuid]), class: 'btn btn-primary' do %>
            Add New Post
          <% end %>
        </div>
        <div class="col-md-12">
          <%= render 'posts/list', posts: @posted_posts, type: nil %>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-8">
              <div id="infinite-scrolling" class="justify-content-center">
                <%= paginate @posted_posts, param_name: :page %>
              </div>
            </div>
          </div>
        </div>
        <% if @posted_posts.blank? %>
          <div class="col-md-12 text-center">
            <h5 class="text-warning">Not posted yet</h5>
          </div>
        <% end %>
      </div>
      <!-- <div class="dropdown-divider"></div>
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Liked by <%= current_user&.name %></h2>
        </div>
        <div class="col-md-12">
          <%= render 'posts/list', posts: @liked_posts, type: nil %>
        </div>
        <% if @liked_posts.blank? %>
          <div class="col-md-12 text-center">
            <h5 class="text-warning">Not liked any post</h5>
          </div>
        <% end %>
      </div>
      <div class="dropdown-divider"></div>
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Shared by <%= current_user&.name %></h2>
        </div>
        <div class="col-md-12">
          <%= render 'posts/list', posts: @shared_posts, type: nil %>
        </div>
        <% if @shared_posts.blank? %>
          <div class="col-md-12 text-center">
            <h5 class="text-warning">Not shared any post</h5>
          </div>
        <% end %>
      </div>
      <div class="dropdown-divider"></div>
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Commented by <%= current_user&.name %></h2>
        </div>
        <div class="col-md-12">
          <%= render 'posts/list', posts: @commented_posts, type: nil %>
        </div>
        <% if @commented_posts.blank? %>
          <div class="col-md-12 text-center">
            <h5 class="text-warning">Not Flagged any post</h5>
          </div>
        <% end %>
      </div>
      <div class="dropdown-divider"></div>
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Flagged by <%= current_user&.name %></h2>
        </div>
        <div class="col-md-12">
          <%= render 'posts/list', posts: @flagged_posts, type: nil %>
        </div>
        <% if @flagged_posts.blank? %>
          <div class="col-md-12 text-center">
            <h5 class="text-warning">Not Flagged any post</h5>
          </div>
        <% end %>
      </div>
      <div class="dropdown-divider"></div> -->
    </div>
  </div>
</div>
