<div class="wrapper d-flex align-items-stretch mb-10">
  <%= render 'shared/sidebar' %>



  <!-- Page Content  -->
  <div id="content" class="p-4">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Posted by <%= current_user&.name %></h2>
      </div>
      <div class="col-sm-6 text-right mb-2 offset-6">
        <%#= link_to modal_posts_path, remote: true, class: 'btn btn-primary' do %>
<!--          Add New Post-->
        <%# end %>
        <%= link_to new_post_path(post_type: Post::POST_TYPE_SOCIAL_MEDIA), class: 'btn btn-primary' do %>
          Add New Post
        <% end %>
      </div>
      <div class="col-md-12">
        <%= render 'posts/list', posts: @posted_posts, type: nil %>
      </div>
      <% if @posted_posts.blank? %>
        <div class="col-md-12 text-center">
          <h5 class="text-warning">Not posted yet</h5>
        </div>
      <% end %>
    </div>
    <div class="dropdown-divider"></div>
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Liked by <%= current_user&.name %></h2>
      </div>
      <%= render 'posts/list', posts: @liked_posts, type: nil %>
      <% if @liked_posts.blank? %>
        <div class="col-md-12 text-center">
          <h5 class="text-warning">Not liked any post</h5>
        </div>
      <% end %>
    </div>
    <div class="dropdown-divider"></div>
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Shared by <%= current_user&.name %></h2>
      </div>
      <%= render 'posts/list', posts: @shared_posts, type: nil %>
      <% if @shared_posts.blank? %>
        <div class="col-md-12 text-center">
          <h5 class="text-warning">Not shared any post</h5>
        </div>
      <% end %>
    </div>
    <div class="dropdown-divider"></div>
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Commented by <%= current_user&.name %></h2>
      </div>
      <%= render 'posts/list', posts: @commented_posts, type: nil %>
      <% if @commented_posts.blank? %>
        <div class="col-md-12 text-center">
          <h5 class="text-warning">Not Flagged any post</h5>
        </div>
      <% end %>
    </div>
    <div class="dropdown-divider"></div>
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Flagged by <%= current_user&.name %></h2>
      </div>
      <%= render 'posts/list', posts: @flagged_posts, type: nil %>
      <% if @flagged_posts.blank? %>
        <div class="col-md-12 text-center">
          <h5 class="text-warning">Not Flagged any post</h5>
        </div>
      <% end %>
    </div>
    <div class="dropdown-divider"></div>
  </div>
</div>