<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>
  <body style="background-image:url(<%= image_path('content-bg.gif') %>)">
    <%= render 'shared/navbar' %>
    <%= render 'shared/notices' %>

    <div class="container">
      <%= yield %>
    </div>

    <div class="fill-the-empty-space"></div>

    <%= render 'shared/footer' %>
  </body>
  <style>
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    .fill-the-empty-space {
        flex-grow: 1;
        flex-shrink: 0;
    }
  </style>
</html>
